@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,600;1,300;1,700&family=Poppins:ital,wght@1,300&display=swap');

:root {
    --lite: #01000A;
    --darc: #EDEBFA;
    --prim: #3622CE;
    --acent: #73AF18;
}

.cormorant-garamond-light {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
  }

  .cormorant-garamond-light-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: italic;
  }


.cormorant-garamond-semibold {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: normal;
}

.cormorant-garamond-bold-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.cursor-dot,
.cursor-dot-outline {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.1s ease-in-out,
                transform 0.1s ease-in-out;
    z-index:10;
}

.cursor-dot {
    width: 5px;
    height: 5px;
    background-color: var(--lite);
}

.cursor-dot-outline {
    width: 30px;
    height: 30px;
    border: 1px solid var(--lite);
}

.text-acent{
    color:var(--acent);
}
.text-prim{
    color:var(--prim);
}
.text-lite{
    color:var(--lite);
}
.text-darc{
    color:var(--darc);
}
.bg-acent{
    background-color:var(--acent);
}
.bg-lite{
    background-color:var(--lite);
}
.bg-darc{
    background-color:var(--darc);
}

.link{
    color:gray;
    transition: all 0.5s;
}
.link:hover{
    color:var(--lite);
}

#hero-div{
    padding-left:5%;
    width:70vw;
    height:80vh;
}

#cnt-nav{
    padding-right:80px;
}

.blr{
    filter:blur(5px);
    transition: all 2s;
}

.hidden{
    opacity:0;
    filter:blur(2px);
    transform:translateY(100px);
    transition: all 1.5s;
}
.show{
    opacity:1;
    filter:blur(0);
    transform:translateY(0);
}

a{
    text-decoration:none;
    display: block;
    position: relative;
}
h5>a:link, h5>a:visited {
    color: var(--lite);
    cursor: none;
}

h5>a:link:active, h5>a:visited:active {
    color: var(--lite);
}

h2>a:link, h2>a:visited {
    color: var(--prim);
    cursor: none;
}

h2>a:link:active, h2>a:visited:active {
    color: var(--prim);
}

h2{
    font-size:100px;
}
#name-div>h2{
    padding-right:10px;
}


@media only screen and (max-width: 865px) {
    #name-div{
        flex-direction:column;
    }

    #name-div>h2{
        padding:0;
        margin:0;
    }

    #cnt-nav{
        padding-right:40px;
    }

    h2{
        font-size:64px !important;
    }

}

@media only screen and (max-width: 1000px) {
    #hero-div{
        min-width:80%;
    }
}

@media only screen and (max-width: 1260px) {
    #hero-div{
        width:70%;
    }
    h2{
        font-size:75px;
    }
}

