@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,600;1,300;1,700&family=Poppins:ital,wght@1,300&display=swap');

:root {
    --lite: #01000A;
    --darc: #EDEBFA;
    --prim: #3622CE;
    --acent: #73AF18;
}



.cormorant-garamond-light {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
  }

.cormorant-garamond-light-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: italic;
  }


.cormorant-garamond-semibold {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: normal;
}

.cormorant-garamond-bold-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.foot>div>h4{
    font-size:25px;
    color:white;
    padding-left:5px;
    margin-bottom:20px;
}

.foot>div>a{
    font-size:20px;
    color:gray;
    padding-left:5px;
}
.foot>div>a:hover{
    color:white;
}


.proj{
    width:100%;
}
.proj>div{
    border-top-style:solid;
    border-width:1px;
    border-color:gray;
}

.proj>div>h1>a{
    color:gray;
    padding: 10px 0;
    margin:0;
    width:50vw;

    transform: translateX(100px);
    filter: blur(1px);
    transition:all 0.25s;
}

.proj>div>h1>a:hover{
    color:var(--lite);
    filter: blur(0);
    transform: translateX(150px);
}

.text-acent{
    color:var(--acent);
}
.text-prim{
    color:var(--prim);
}
.text-lite{
    color:var(--lite);
}
.text-darc{
    color:var(--darc);
}
.bg-acent{
    background-color:var(--acent);
}
.bg-lite{
    background-color:var(--lite);
}
.bg-darc{
    background-color:var(--darc);
}



::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px gray;
    border-radius: 7px;
}


::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 7px;
}

.bt{
    background-color:var(--darc);
    color:var(--lite);
    transition: all 0.5s;
}
.bt:hover{
    background-color:var(--prim);
    color:var(--darc);
}

input{
    color:var(--prim);
    overflow:visible;
}


#hero-div{
    padding-left:5%;
    width:70vw;
    height:80vh;
}

#cnt-nav{
    padding-right:80px;
}

.blr{
    filter:blur(5px);
    transition: all 2s;
}


.hidden{
    opacity:0;
    filter:blur(2px);
    transform:translateY(100px);
    transition: all 1.5s;
}
.show{
    opacity:1;
    filter:blur(0);
    transform:translateY(0);
}

.work>div{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    margin-top:50px;
}

.work>div>div{
    width:500px;
}

.work>div>div>div{
    background-color:black;
    border-radius:27px;
    overflow:hidden;

    border:2px solid black;

    width:500px;
    height:375px;
}

.work>div>div>div>a>img{
    width:500px;
    height:375px;
    object-fit:cover;
    border-radius:25px;

    transition: all 0.3s;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 75%,rgba(0,0,0,0.8) 90%,rgba(0,0,0,0.5) 100%);
   -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 75%,rgba(0,0,0,0.8) 90%,rgba(0,0,0,0.5) 100%);
}

.work>div>div>div>a>img:hover{
    transform: scale(1.1);
}


.work>div>div>h1{
    font-family: "Cormorant Garamond", serif;
    font-weight: 800;
    font-style: italic;

    color:white;
    position: relative;
    top: -55px;
    left: 30px;
}


.work>div>div>h4{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size:18px;

    color:var(--lite);
    position: relative;
    top: -50px;
    left: 10px;
}



.contect{
    margin-left:40px;
}

.navbar{
    dispay:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
}

.work>div>div>:is(h1,h4){
    pointer-events:none;
}


.catalog>div>div>:is(h1,h4){
    pointer-events:none;
}

.catalog>div>div>h4{
    position: absolute;
    bottom: 50px;
    left: 20px;

    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: italic;
    font-size:64px;
}

.catalog>div>div>h1{
    position: absolute;
    bottom: 20px;
    left: 25px;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size:18px;
}

.catalog>div>div{
    border:2px solid black;
    border-radius:27px;
    overflow:hidden;

    background-color:black;

    display: inline-block;
    position: relative;


    margin-top:20px;
    padding:0;

    color:transparent;
    transition: all 0.5s;
}


.catalog>div>div>a>:is(img,video),.cat-col{
    width:45vw;
}

.catalog>div>div>a>:is(img,video){
    border-radius:25px;
    object-fit:cover;
    margin:0;

    transition: all 0.5s;
}


.catalog>div>div>a>img{
    height:auto;
    display: block;
}
.catalog>div>div>a>video,.v-cover{
    height:calc(45vw*0.75);
}

.catalog>div>div>a>:is(img:hover,video:hover){
    opacity:0.35;
}

.catalog>div>div:hover{
    color:white;
}


a{
    text-decoration:none;
    display: block;
    position: relative;
}

h5>:is(a:link,a:visited,a:link:active,a:visited:active){
    color: var(--lite);
}

h2>:is(a:link,a:visited,a:link:active,a:visited:active){
    color: var(--prim);
}

h2{
    font-size:100px;
}
#name-div>h2{
    padding-right:10px;
}


@media only screen and (max-width: 320px) {
    #cnt-nav{
        display:none !important;
    }
}

@media only screen and (max-width: 350px) {
    .cont>div>input{
        font-size:18px !important;
        width:320px !important;
        padding:0px !important;
        margin:0px !important;
    }


    .catalog>div>div>a>:is(img,video),.cat-col{
        width:95vw !important;
    }

    .catalog>div>div>a>video,.v-cover{
        height:calc(95vw*0.75) !important;
    }

}

@media only screen and (min-width: 351px) and (max-width: 450px) {
    .cont>div>input{
        font-size:18px !important;
        width:320px !important;
        padding:0px !important;
        margin:10px !important;
    }
}


@media only screen and (max-width: 450px) {

    #name-div{
        flex-direction:column !important;
    }

    .con{
        padding:0px !important;
        margin:0px !important;
    }

    #contact{
        margin-right:0px !important;
        margin-left:10px !important;
    }

    #about{
        font-size:32px !important;
    }

    .work>div{
        flex-direction:column !important;
        align-items:center;
    }

    .work>div>div>h1{
        top: -50px !important;
        left: 25px !important;
        font-size:24px !important;
    }


    .work>div>div>h4{
        font-size:18px !important;
        top: -30px !important;
    }


    .contect{
        margin-left:20px;
        margin-right:10px;
    }

    .navbar>h5>a{
        padding-left:7px !important;
        padding-right:5px !important;
    }

    .navbar>div{
        padding:0 !important;
        margin-right:20px !important;
    }

    .work{
        align-items:center !important;
        justify-content:center !important;
    }

    .work>div>div{
        width:300px !important;
    }

    .work>div{
        width:300px !important;
    }

    .work>div>div>div{
        width:300px !important;
        height:225px !important;
    }

    .work>div>div>div>a>img{
        width:300px !important;
        height:225px !important;
    }

    .work>div>div>h1{
        top: -50px;
        left: 25px;
        font-size:24px;
    }


    .work>div>div>h4{
        font-size:20px;
        top: -30px;
    }

    .mail-name{
        font-size:24px !important;
    }

    .whatsapp-no{
        font-size:18px !important;
    }
    .centred{
        margin-left:auto !important;
        margin-right:auto !important;
    }

    .foot{
        flex-direction:column !important;
        align-items:center !important;
    }
    .foot>div{
        display:flex;
        flex-direction:column;
        align-items:center;
        width:auto !important;
        margin-bottom:30px !important;
    }

    .catalog>div>div>h4{
        bottom:75px !important;
    }

    .catalog>div>div>h1{
        font-size: 14px;
    }

}
@media only screen and (max-width: 600px) {

    .sbt{
        justify-content:left !important;
        padding-left:10px;
        margin-top:20px;
    }
    .con{
        padding-left:25px;
        justify-content:left !important;
    }

    .catalog{
        flex-direction:column-reverse !important;
        align-items:center !important;
    }

    .catalog>div>div>a>:is(img,video){
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    }

    .catalog>div>div>a>:is(img,video),.cat-col{
        width:75vw;

    }

    .catalog>div>div>a>video,.v-cover{
        height:calc(45vw*0.75);
    }

    .catalog>div>div>:is(h1,h4){
        color:white !important;
        mix-blend-mode:exclusion;
    }

    #extra-bento{
        display:none;
    }

}

@media only screen and (min-width:451px) and (max-width: 625px) {
    .work>div>div{
        width:400px;
    }

    .mail-name{
        font-size:32px !important;
    }
    .whatsapp-no{
        font-size:24px !important;
    }

    #name-div{
        flex-direction:column !important;
    }
    .work>div{
        flex-direction:column !important;
        align-items:center;
    }

    .work>div>div>div{
        width:400px !important;
        height:300px !important;
    }

    .work>div>div>div>a>img{
        width:400px !important;
        height:300px !important;
    }

    .work>div>div>h1{
        top: -50px !important;
        left: 25px !important;
        font-size:24px !important;
    }


    .work>div>div>h4{
        font-size:18px !important;
        top: -30px !important;
    }

}

@media only screen and (max-width: 665px) {
    .foot>div>h3{
        font-size:18px;
    }
    .foot>div>h1{
        font-size:28px;
    }

}

@media only screen and (max-width: 800px) {

    .cont>div>h1{
        display:none;
    }

    .catalog>div>div>h4{
        bottom:100px;
        font-size:32px;
    }
}

@media only screen and (max-width: 865px) {
    .snd-abt{
    	display:none;
    }
    .description{
        flex-direction:column !important;
    }
    .description>div{
        margin-left:20px !important;
        margin-top:25px !important;
        width:fit-content !important;
    }
    .proj-name{
        margin-left:auto !important;
        margin-right:auto !important;
    }
    .extra-des{
        display:none !important;
    }
}
@media only screen and (min-width: 626px) and (max-width: 865px) {
    #name-div{
        flex-direction:column;
    }

    .mail-name{
        font-size:48px !important;
    }

    #name-div>h2{
        padding:0;
        margin:0;
    }

    #cnt-nav{
        padding-right:40px;
    }

    h2{
        font-size:64px !important;
    }


    .work>div>div{
        width:300px !important;
    }


    .work>div>div>div{
        width:300px !important;
        height:225px !important;
    }

    .work>div>div>div>a>img{
        width:300px !important;
        height:225px !important;
    }

    .work>div>div>h1{
        top: -50px;
        left: 25px;
        font-size:24px;
    }


    .work>div>div>h4{
        font-size:18px;
        top: -30px;
    }

}

@media only screen and (max-width: 1000px) {
    #hero-div{
        min-width:80%;
    }
    input{
        width:400px !important;
        margin-bottom:50px !important;
    }
    .cont>div>h1,input{
        font-size:24px !important;
    }
}

@media only screen and (max-width: 1260px) {
    #hero-div{
        width:70%;
    }
    h2{
        font-size:75px;
    }

    .work>div>div{
        width:400px;
    }


    .work>div>div>div{
        width:400px;
        height:300px;
    }

    .work>div>div>div>a>img{
        width:400px;
        height:300px;
    }
}


@media only screen and (min-width: 800px) and (max-width: 1370px) {
    .catalog>div>div>h4{
        bottom:100px;
    }
}
